@font-face {
    font-family:inika;
    src: url(Inika-Regular.ttf);
}

body{
    background-color:#EDF2EC;
    font-family: 'Inika', serif;
    font-family: 'Inter', sans-serif;
}


nav{
   background-color: #000000;
    
}
a1{
    position: absolute;
    font-family: 'Inika', serif;
    width: 44px;
    height: 50px;
    top: 42px;
    left: 879px;
    font-size: 16px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: left;
    color: #E06733;
}

a2{
    position: absolute;
    font-family: 'Inika', serif;
    width: 67px;
    height: 50px;
    top: 42px;
    left: 969px;
    font-size: 16px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: left;
    color: #010201;
}

a{
    position: absolute;
    font-family: 'Inika', serif;
    width: 58.13px;
    height: 17px;
    top: 56.04px;
    left: 132.05px;
    
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;

    
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;

    
}


img{
    position: absolute;
    width: 20px;
    height: 20px;
    top: 52px;
    left: 111px;
    border: 1px;


}

a3{
    position: absolute;
    font-family: 'Inika', serif;
    width: 55px;
    height: 50px;
    top: 42px;
    left: 1082px;
    font-family: Inika;
    font-size: 16px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: left;
    color: #010201;


}

a4{
    position: absolute;
    font-family: 'Inika', serif;
    width: 38px;
    height: 50px;
    top: 42px;
    left: 1183px;
    font-family: Inika;
    font-size: 16px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: left;
    color: #010201;


}

a5{
    position: absolute;
    font-family: 'Inika', serif;
    width: 64px;
    height: 50px;
    top: 42px;
    left: 1267px;
    font-family: Inika;
    font-size: 16px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: left;
    color: #010201;


}

article{
    position: absolute;
    background-color: #EDF2EC;
    width: 1440px;
    height: 532px;
    top: 134px;
    padding: 62px, 109px, 62.64px, 109px
    
}

article img{
    position: absolute;
    width: 448.8px;
    height: 407.36px;
    top: 62px;
    left: 109px;
}
h1{
    position: absolute;
    font-family: Inter;
    width: 549px;
    height: 101px;
    top: 98px;
    left: 782px;
    font-size: 45px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: left;
    color: linear-gradient(0deg, #499A18, #499A18),
    linear-gradient(0deg, #717171, #717171);



}
    
span1{
    color: #499A18;
}

h2{
    position: absolute;
    width: 525.44px;
    height: 105px;
    top: 241px;
    left: 782px;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: left;
    color: #636060;
}
button{
    position: absolute;
    width: 158px;
    height: 44px;
    top: 394px;
    left: 782px;
    border-radius: 10px;
    border: 2px solid #E06733

}
a8{
    position: absolute;
    width: 104px;
    height: 16px;
    top: 408px;
    left: 809px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    color: #000000;


}
article1{
    position: absolute;
    background-color: #fff;
    position: absolute;
    width: 1920px;
    height: 666px;
    top: 666px;
    padding: 93px, 109px, 94px, 109px;

}

h3{
    position: absolute;
    width: 463px;
    height: 102px;
    top: 161px;
    left: 109px;
    font-family: Inika;
    font-size: 40px;
    font-weight: 400;
    line-height: 52px;
    letter-spacing: 0em;
    text-align: left;
    color: #499A18

}
span2{
    color: #E06733;
}

article1 img{
    width: 464px;
    height: 479px;
    top: 93px;
    left: 867px;

}

h4{
    position: absolute;
    width: 605px;
    height: 208px;
    top: 303px;
    left: 109px;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: #636060;

}
article2{
    background-color: #EDF2EC;
    position: absolute;
    width: 1440px;
    height: 1300px;
    top: 1332px;
    padding: 40px, 109px, 121px, 109px;
    

}

article2 section{
    position: absolute;
    width: 306px;
    height: 94px;
    top: 40px;
    left: 109px;
    font-family: Inika;
    font-size: 40px;
    font-weight: 400;
    line-height: 52px;
    letter-spacing: 0em;
    text-align: left;
    color:#499A18 ;


}

section1 button{
    width: 161px;
    height: 50px;
    top: 69px;
    left: 557px;
    border-radius: 5px;
    border: 1px;
    border: 1px solid #E06733

}
section1 a{
    position: absolute;
    width: 81px;
    height: 26px;
    top: 81px;
    left: 597px;
    font-family: Inika;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    color: #E06733;

}

section2 button{
    position: absolute;
    width: 161px;
    height: 50px;
    top: 69px;
    left: 756px;
    border-radius: 5px;
    border: 1px;
    border: 1px solid #E06733;

}

section2 a{
    width: 53px;
    height: 26px;
    top: 81px;
    left: 810px;
    font-family: Inika;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    color: #E06733;

}

section3 button{
    width: 161px;
    height: 50px;
    top: 69px;
    left: 955px;
    border-radius: 5px;
    border: 1px;
    border: 1px solid #E06733

}

section3 a{
    width: 81px;
    height: 26px;
    top: 81px;
    left: 995px;
    font-family: Inika;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    color: #E06733;


}

section4 img{
    width: 1222px;
    height: 955px;
    top: 224px;
    left: 109px;
    

}

article3{
    position: absolute;
    width: 1920px;
    height: 560px;
    top: 2630px;
    padding: 40px, 109px, 115px, 109px;
    background-color: #fff;
}

article3 h7{
    position: absolute;
    width: 135px;
    height: 49px;
    top: 40px;
    left: 109px;
    font-family: Inter;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;


}
article3 h8{
    position: absolute;
    width: 452px;
    height: 103px;
    top: 40px;
    left: 879px;
    font-family: Inter;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: right;
    color:#000000;

}

span3{
    color:#499A18;  
}

article3 img{
    position: absolute;
    width: 152px;
    height: 174.99px;
    top: 270.01px;
    left: 1179px;
    angle: -0 deg;
}
article3 section5 button{
    position: absolute;
    width: 162px;
    height: 50px;
    top: 181.01px;
    left: 1169px;
    border-radius: 5px;
    border: 1px;
    border: 1px solid #E06733;
    background-color: #fff;

}

article3 a{
    position: absolute;
    width: 98px;
    height: 26px;
    top: 193.01px;
    left: 1199.04px;
    font-family: Inika;
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: center;
    color: #E06733;
    background-color: #fff;


}
article3 p{
    position: absolute;
    width: 332px;
    height: 282.01px;
    top: 149px;
    left: 109px;
    border-radius: 20px;
    border: 1px;
    border: 1px solid #E3E1D5

}
section6{
    position: absolute;
    width: 332px;
    height: 282.01px;
    top: 149px;
    left: 109px;
    border-radius: 20px;
    border: 1px;
    border: 1px solid #E3E1D5;

}

article3 button.btn1 {
    position: absolute;
    width: 250px;
    height: 50px;
    top: 199.01px;
    left: 50px;
    border-radius: 20px;
    background-color: #EDF2EC;
    border: 0.5px solid #EDF2EC;

}

article3 button.btn2{
    position: absolute;
    width: 250px;
    height: 50px;
    top: 119.01px;
    left: 50px;
    border-radius: 20px;
    background-color: #EDF2EC;
    border: 0.5px solid #EDF2EC;

}

article3 button.btn3{
    position: absolute;
    width: 250px;
    height: 50px;
    top: 35.01px;
    left: 50px;
    border-radius: 20px;
    background-color: #EDF2EC;
    border: 0.5px solid #EDF2EC;

}

article3 div b{
    position: absolute;
    width: 100px;
    height: 18px;
    top: 199.01px;
    left: 190px;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;


}

article3 div b1{
    position: absolute;
    width: 100px;
    height: 18px;
    top: 281.01px;
    left: 190px;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;



}

article3 div b2{
    position: absolute;
    width: 100px;
    height: 18px;
    top: 363.01px;
    left: 190px;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;


}

img.acbtn1{
    width: 16px;
    height: 16px;
    top: 203.01px;
    left: 360px;

}

img.acbtn2{
    width: 16px;
    height: 16px;
    top: 285.01px;
    left: 360px;

}

img.acbtn3{
    width: 16px;
    height: 16px;
    top: 368.01px;
    left: 360px;

}

article4{
    position: absolute;
    width: 1440px;
    height: 550px;
    top: 3190px;
    background-color: #EDF2EC;

}
article4 img.woman{
    position: absolute;
    width: 400px;
    height: 496.99px;
    top: 53px;
    left: 109px;

}

h1{
    position: absolute;
    width: 195px;
    height: 51px;
    top: 60px;
    left: 622px;
    font-family: Inika;
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: 0em;
    text-align: left;
    color: #499A18;


}

select{
    position: absolute;
    width: 450px;
    height: 50px;
    top: 148px;
    left: 881px;
    box-shadow: 0px 4px 4px 0px #00000040;
    background-color: #D6E7D2;
    border: 0.5px solid #D6E7D2;


}
footer{
    position: absolute;
    background-color: #fff;
    width: 1920px;
    height: 130px;
    top: 3740px;
    padding: 40px, 109px, 40px, 109px;

}

footer img.fdt{
    width: 182px;
    height: 50px;
    top: 40px;
    left: 109px;
    padding: 0px, 13px, 0px, 0px;

}

footer b{
    position: absolute;
    width: 211px;
    height: 50px;
    top: 40px;
    left: 615px;
    font-family: Inter;
    font-size: 19px;
    font-weight: 300;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;

}

footer img.socnet{
    position: absolute;
    width: 188px;
    height: 50px;
    top: 40px;
    left: 1143px;
    padding: 9px, 0px, 9px, 0px;



}